.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5)
    calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: 0;
}
.cartProduct{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  align-items: center;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
}
.cartProduct div:nth-child(n){
  border-left: 1px solid #dee2e6;
  height: 100%;
}
.cartProduct div:last-child{
  border-left: 0px !important;
  height: 100%;
}
.cartProduct div button:nth-child(n){
  all:unset;
  cursor: pointer;
}

.imgCart{
  margin-left: 10px;
  grid-column: 1/4;
}
.imgCart img{
  width: 100%;
  height: 100%;
  max-width: fit-content;
  border-top-right-radius:0.375rem;
  border-bottom-right-radius:0.375rem;
}

.nameCart{
  grid-column: 4/8;
  display: flex;
  align-items: center;
}
.nameCart p {
  text-align: right;
  margin-bottom: 0;
  letter-spacing: 0.2mm;
  line-height: 19px;
}

.priceCart{
  grid-column: 8/11;
  display: flex;
  align-items: center;
  justify-content: center;
}
.priceCart p {
  margin-bottom: 0;
}

.quanityCart{
  grid-column: 11/13;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 0px !important;
}
.quanityCart p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.removeCart{
  grid-column: 13/ 13;
  display: flex;
  align-items: center;
  border-top-left-radius:0.375rem;
  border-bottom-left-radius:0.375rem;
}
.removeCart button{
  font-family: cursive !important;
  color: white !important;
  font-size: 32px !important;
  padding: 0px 5px !important;
}

