.card {
  width: 350px;
  height: auto;
}
.card p {
  margin: 0px 10px;
}
.card-header-tab {
  padding: 5px 0px;
}
.card-header-tab::after {
  content: " ";
  display: block;
  width: 108px;
  height: 7px;
  position: relative;
  top: 6px;
  background-color: var(--bs-danger);
}
.sectionAllProduct {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.productcard {
  cursor: pointer;
  transition: transform 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 255px;
  background-color: #f6f8fa !important;
  border: 1px solid #e5e5e5;
}
.desktop-filter {
  background-color: #f5f5f5;
}
.productcard:hover {
  transform: translate(0px, -8px);
  border: 2px solid var(--bs-danger);
}
.description-pro {
  margin-left: 20px;
  letter-spacing: 0.08mm;
  line-height: 2cm;
}
.PricePRO {
  text-align: center;
}
.img-card {
  margin: auto 10px;
}
.card-img {
  width: 180px;
  height: 190px;
  aspect-ratio: 3/3;
  object-fit: contain;
  mix-blend-mode: darken;
}
.item-result:hover {
  font-weight: bolder;
}
.nameProduct {
  text-align: center;
}
.pagination {
  direction: rtl;
}
.bi-telegram,
.bi-telephone-fill {
  margin-right: 10px;
  padding-bottom: 10px;
  transition: transform 0.4s ease;
}
.bi-telephone-fill {
  color: rgba(8, 64, 8, 0.784);
  transform: rotate(270deg);
}
.bi-telephone-fill:hover {
  animation: rotate 0.2s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(250deg);
  }
}
.bi-telegram:hover {
  transform: translateY(-8px);
}
.directionrtl {
  direction: rtl;
}
.slider {
  border: 1px solid rgba(214, 196, 196, 0.5);
  border-radius: 16px;
  width: 100%;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.slider .thumb {
  background-color: var(--bs-dark);
  height: 20px;
  width: 20px;
  cursor: grab;
  border-radius: 50%;
  border: 2px solid var(--bs-dark);
  transform: translate(0px, -10px);
}
.track-0 {
  background-color: black;
  color: rgb(0, 0, 0);
  height: 100%;
}
.price-box {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;
}
.f-mini {
  font-size: 0.9rem;
}
.fww {
  font-size: 1.6rem;
}
.font-size-small {
  font-size: small;
  font-weight: bold;
  letter-spacing: 0.25px;
}

.container-sort {
  width: inherit;
}
.btn-sort {
  background-color: inherit;
  border: 0px solid;
}
.btn-sort-by {
  border: 0;
  width: auto;
  padding: 10px;
  font-size: 0.8rem;
  background-color: #eeeeee;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
.btn-sort-by:hover {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  font-weight: 800;
}

/*..................... laptop sm................................................ */
@media screen and (max-width: 1284.5px) {
  .productcard {
    height: 440px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .img-card {
    margin-top: 20px;
  }
  .card-img {
    height: 100%;
  }
  .description-pro {
    letter-spacing: 0.08mm;
    line-height: 3cm;
  }
}
/*..................... tablet Large............................................ */
@media screen and (max-width: 926px) {
  .card {
    width: 250px;
  }
  .card p {
    margin: 0px 5px;
    font-size: 1.2rem;
    text-align: center;
  }
  .card-prudoct {
    position: relative;
    left: 15px;
  }
}
/*...........................tablet .................................................. */
@media screen and (max-width: 767.5px) {
  .card {
    width: 450px;
    height: max-content;
  }
  .card p {
    margin: 0px 5px;
    font-size: 1.2rem;
    text-align: center;
  }
  .article {
    display: none;
  }
  .f-mini {
    font-size: 0.8rem;
  }
  .icon-mini {
    font-size: 1rem;
    opacity: 0.7;
  }
  .card-prudoct {
    margin: -30px;
    width: 86vw;
    left: 15px;
  }
  .card-product h1 {
    font-size: x-large;
  }
  .mobile-fliter {
    justify-content: space-around;
  }

  .price-box {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
  }
  .btn-sort-by {
    border: 0;
    width: auto;
    padding: 10px;
    font-size: 0.8rem;
  }
  .actived {
    background-color: var(--bs-dark);
    color: var(--bs-light);
  }
  #item-sort {
    position: absolute;
    width: 100%;
    z-index: 90;
  }
  #item-sort button:nth-child(4) {
    border-bottom: 0px !important;
  }
}
/*..................... phone xl  ............................................ */
@media screen and (max-width: 600px) {
  .item-sort {
    font-size: 0.9rem;
  }
  .category-resualt {
    font-size: 0.9rem;
    margin-right: 48px;
  }
  .card {
    width: 480px;
  }
}
/*..................... phone Large  ............................................ */
@media screen and (max-width: 470px) {
  .sectionAllProduct {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .mobile-fliter {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .category-resualt {
    font-size: 0.7rem;
    margin-right: 0px;
  }
  .toman {
    margin: 0px 10px;
  }

  .productcard {
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
    width: auto;
    height: 200px;
  }
  .img-card {
    margin: auto;
  }
  .card-img {
    width: 165px;
  }
  .description-pro {
    letter-spacing: 0.08mm;
    line-height: 2cm;
  }
  .nameProduct,
  .PricePRO {
    text-align: center;
    margin-bottom: -15px;
  }
}
/*..................... phone md ............................................ */
@media screen and (max-width: 380px) {
  .card-prudoct {
    margin: -30px;
    width: 86vw;
    position: relative;
    left: 41px;
  }
  .mobile-fliter {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .card-prudoct {
    width: 100vw;
    margin: 0;
    position: static;
  }
  .category-resualt {
    font-size: 0.7rem;
    margin-right: 0px;
  }

  .toman {
    margin: 0px 10px;
  }
  .productcard {
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 325px;
  }
  .card-img {
    width: 190px;
  }
}
/*..................... phone sm............................................ */
@media screen and (max-width: 330px) {
  .item-sort {
    font-size: 1rem;
  }
  .category-resualt {
    font-size: 0.6rem;
    margin-right: 0px;
  }

  .toman {
    margin: 0px 10px;
  }
  .card-prudoct {
    width: 100vw;
    margin: 0;
    position: static;
  }
  .productcard {
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 325px;
  }
}
