.registerDiv {
  background-color: #e2e2e5 !important;
}
.form-page {
  margin: 20px auto;
  width: 100%;
}
.form-page-div1 {
  width: 75%;
  margin: 0px auto;
}
.login-content {
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
}
#register {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
.register-content {
  border-radius: 0.6rem !important;
}
#login {
  letter-spacing: 0.2mm;
  font-size: 20px;
  border: 0;
  box-shadow: rgba(142, 3, 3, 0.24) 0px 6px 8px;
}

.form-content {
  border-bottom: 0.6rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-radius: 0.6rem !important;
}
.form {
  padding-left: 50px;
}

button[type="submit"] {
  font-size: 22px;
  transition: background-color 0.6s;
}
.form-content input {
  width: 85%;
  padding: 10px 20px;
}
.form-content input:focus {
  color: #000000;
  border-color: var(--bs-danger);
  outline: 0;
  box-shadow: inset 0 0 0.18rem #dc3545;
}
.errorsMessage {
  font-size: 14px;
  list-style: disc;
  margin-top: -16px;
}
.register-page {
  width: 700px;
}
.register {
  background-color: #dc3545;
  height: calc(100% - 108px);
  position: relative;
  margin-top: 35px;
}

.login-page {
  width: 900px;
}
@media screen and (max-width: 900px) {
  .form-page {
    margin: 20px auto;
    width: 100%;
  }
  .login-page {
    width: 100vw;
  }
}
@media screen and (max-width: 600px) {
  .form-page-div1 {
    width: 85%;
  }
  .register-page {
    width: 100vw;
  }
  .form-content input {
    width: 100%;
    padding: 10px 20px;
  }
  .form-content {
    border-bottom: 0.6rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem !important;
    margin-top: -10px !important;
  }
  .login-content {
    width: 100%;
  }
}
@media screen and (max-width: 425.5px) {
  .form-page-div1 {
    width: 90%;
  }
}
